{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>OASIS LAWFIRM - Legal Excellence for Your Peace of Mind</title>
    <link rel="icon" href="{% static 'frontend/images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="OASIS LAWFIRM - Legal Excellence for Your Peace of Mind" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    
    <!-- CSS Files
    ================================================== -->
    <link id="bootstrap" href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link id="bootstrap-grid" href="{% static 'frontend/css/bootstrap-grid.min.css' %}" rel="stylesheet" type="text/css" />
    <link id="bootstrap-reboot" href="{% static 'frontend/css/bootstrap-reboot.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'frontend/css/animate.css" rel="stylesheet" type="text/css' %}">
    <link href="{% static 'frontend/css/owl.carousel.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'frontend/css/owl.theme.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'frontend/css/owl.transitions.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'frontend/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'frontend/css/jquery.countdown.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'frontend/css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'frontend/css/coloring.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
        {% include './include/navbar_two.html' %}
        {% block content %}{% endblock %}
        {% include './include/footer.html' %}
        <!-- content close -->
        <a href="#" id="back-to-top"></a>
        
        <div id="preloader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    
    <!-- Javascript Files
    ================================================== -->
    <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend/js/wow.min.js' %}"></script>
    <script src="{% static 'frontend/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'frontend/js/easing.js' %}"></script>
    <script src="{% static 'frontend/js/lenis.js' %}"></script>
    <script src="{% static 'frontend/js/owl.carousel.js' %}"></script>
    <script src="{% static 'frontend/js/validation.js' %}"></script>
    <script src="{% static 'frontend/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'frontend/js/enquire.min.js' %}"></script>
    <script src="{% static 'frontend/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'frontend/js/jquery.plugin.js' %}"></script>
    <script src="{% static 'frontend/js/typed.js' %}"></script>
    <script src="{% static 'frontend/js/jarallax.js' %}"></script>
    <script src="{% static 'frontend/js/jquery.countTo.js' %}"></script>
    <script src="{% static 'frontend/js/jquery.countdown.js' %}"></script>
    <script src="{% static 'frontend/js/designesia.js' %}"></script>
</body>

</html>