{% extends './base_two.html' %}
{% load static %}

{% block content %}
<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-white">
        <img src="/static/frontend/images/background/subheader1.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="spacer-single"></div>
                        <h1>Service</h1>
                        <p>Reputation. Respect. Result.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section>
        <div class="container">
            <div class="row">

                <!-- Labor Law -->
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-group bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Labor Law</h4>
                            <p>Providing expert guidance on employment rights, workplace disputes, contracts, and
                                compliance to protect both employees and employers.</p>
                        </div>
                    </div>
                </div>

                <!-- Medical & Health Care -->
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-medical-sign-alt bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Medical &amp; Health Care</h4>
                            <p>Offering legal support for healthcare providers, compliance issues, patient rights, and
                                medical malpractice cases.</p>
                        </div>
                    </div>
                </div>

                <!-- Mining -->
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-mining bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Mining Law</h4>
                            <p>Advising on regulatory compliance, environmental impact, contracts, and safety matters in
                                the mining and natural resources sector.</p>
                        </div>
                    </div>
                </div>

                <!-- Civil & Criminal -->
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-law-order bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Civil &amp; Criminal Law</h4>
                            <p>Providing representation in civil litigation, criminal defense, dispute resolution, and
                                legal advocacy for individuals and organizations.</p>
                        </div>
                    </div>
                </div>

                <!-- Family & Marriage -->
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-group-students bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Family &amp; Marriage</h4>
                            <p>Handling divorce, child custody, adoption, and family law matters with sensitivity and
                                professional guidance.</p>
                        </div>
                    </div>
                </div>

                <!-- Corporate & Investment -->
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-money bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Corporate &amp; Investment</h4>
                            <p>Advising businesses on mergers, acquisitions, corporate governance, investment
                                strategies, and compliance matters.</p>
                        </div>
                    </div>
                </div>

                <!-- Property -->
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-building bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Property Law</h4>
                            <p>Guiding clients through real estate transactions, property disputes, leases, and zoning
                                regulations.</p>
                        </div>
                    </div>
                </div>

                <!-- Banking & Insurance -->
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-bank bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Wills &amp; Estate</h4>
                            <p>Offering guidance on will preparation, estate planning, probate matters, asset
                                distribution, and trust administration.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-bank bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Banking &amp; Insurance</h4>
                            <p>Providing counsel on financial regulations, banking compliance, insurance claims, and
                                risk management.</p>
                        </div>
                    </div>
                </div> -->

                <!-- Intellectual Property -->
                <div class="col-lg-4 col-md-6 mb30">
                    <div class="f-box f-icon-left f-icon-rounded">
                        <i class="icofont-light-bulb bg-color text-light"></i>
                        <div class="fb-text">
                            <h4>Intellectual Property</h4>
                            <p>Protecting innovations, trademarks, copyrights, patents, and trade secrets with expert IP
                                legal services.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
<section class="pt40 pb40 bg-color text-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 mb-sm-30 text-lg-start text-sm-center">
                <h3 class="no-bottom">Contact Us Now! Get a Free Consultation for Your Case.</h3>
            </div>
            <div class="col-md-4 text-lg-right text-sm-center">
                <a href="{% url 'frontend:contact' %}" class="btn-custom btn-black light">Make Appointment</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}