{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <a href="index.html"><img alt="" class="img-fluid mb20" src="{% static 'frontend/images/byoo/logo.png' %}" width="250"></a>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>2 Dewside Dr, #204, Brampton, ON L6R 0X5</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>+1 333 9296</span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i><a
                                href="mailto:contact@example.com">contact@oasis-lawfirm.com</a></span>
                        <!-- <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Download Brochure</a></span> -->
                    </address>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="id-color mb20">Practice Areas</h4>
                <ul class="ul-style-2">
                    <li>Corporate and M&A</li>
                    <li>Construction and Real Estate</li>
                    <li>Commercial Duspute Resolution</li>
                    <li>Wills and Estate</li>
                    <li>Banking and Finance</li>
                    <li>Employment</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4 class="id-color">Newsletter</h4>
                <p>Signup for our newsletter to get the latest news, updates and special offers in your inbox.</p>
                <form action="" class="row" id="form_subscribe" method="post" name="form_subscribe">
                    <div class="col text-center">
                        <input class="form-control" id="name_1" name="name_1" placeholder="enter your email"
                            type="text" /> <a href="#" id="btn-submit"><i class="fa fa-long-arrow-right"></i></a>
                        <div class="clearfix"></div>
                    </div>
                </form>
                <div class="spacer-10"></div>
                <small>Your email is safe with us. We don't spam.</small>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    &copy; Copyright 2025 - OASIS LAW FIRM
                </div>
                <!-- <div class="col-lg-6 text-lg-end">
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>