{% load static %}

<!-- header begin -->
<header class="header-light header-s2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-menu-wrap">
                    <div class="de-flex sm-pt10">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a href="{% url 'frontend:home' %}">
                                    <img alt="" class="logo" src="{% static 'frontend/images/byoo/logo-black.png' %}" width="250" />
                                    <img alt="" class="logo-2" src="{% static 'frontend/images/byoo/logo-black.png' %}" width="250" />
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                        <div class="de-flex-col header-col-mid">
                            <!-- mainmenu begin -->
                            <ul id="mainmenu">
                                <li>
                                    <a href="{% url 'frontend:home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'frontend:service' %}">Our Service</a>
                                </li>
                                <li>
                                    <a href="{% url 'frontend:team' %}">Our Team</a>                                   
                                </li>
                                <li>
                                    <a href="{% url 'frontend:about' %}">About Us</a>
                                </li>
                                <li>
                                    <a href="{% url 'frontend:contact' %}">Contact</a>
                                </li>
                                
                            </ul>
                            <!-- mainmenu close -->
                        </div>
                        <div class="de-flex-col">
                            <div class="h-phone md-hide"><span>Need&nbsp;Help?</span><i class="fa fa-phone"></i> 1 200
                                300 9000</div>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header close -->